body {
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  gap: 12px;
}
